<div class="content-name">
  <%= simple_format(content.user.name) %>
</div>

<div class="content-text">
  <%= simple_format(content.text) %>
</div>

<% if user_signed_in? && current_user.id == content.user_id %>
<div class="btn blue lighten-5">
  <%= link_to 'EDIT', "/contents/#{content.id}/edit", method: :get %>
</div>
<div class="btn blue lighten-5">
  <%= link_to 'DELETE', "/contents/#{content.id}", method: :delete %>
</div>
<% end %>
