<span class="title" ><%= @comment.user.name %></span>
<%= form_for [@content, @comment], data: {remote: true } do |f| %>
  <%= f.text_field :text %>
  <%= f.button class: "waves-effect waves-light btn ",class: "edit-close", type: :submit %>
<% end %>
