.contents_show {
  margin: 20px 25%;
  .card {
    min-height: 100px;
    margin-top: 100px;
    box-sizing: border-box;
    background-color: white;

    .card-content {
    }
    .card-action {
    }
  }
}
